/ahk.log
/AutoHotkey.chm
/AutoHotkeyA32.exe
/AutoHotkeyU32.exe
/AutoHotkeyU64.exe
/Compiler
/Installer.ahk
/license.txt
/margo.ahk
/Template.ahk
/test3.ahk
/WindowSpy.ahk
/margo.js
/traytip.ps1
/AutoHotkey_1.1.33.10_setup.exe

index-TSSSVOL127.html
.vscode/launch.json
